* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
}

main {
  padding: 1rem;
  height: 100vh;
}

h2,
h3 {
  padding-bottom: 15px;
}

p {
  padding-bottom: 5px;
}

input {
  padding: 3px;
  margin-bottom: 3px;
}

button {
  padding: 3px;
  margin-top: 3px;
}